*.swp
.#*
*#
*~

.all.*
.out.*
.du@*
.sb.*

.ts.*

build-output

buildroot
buildroot-dl
buildroot-dl-*
buildroot-output
buildroot-output-*
buildroot.*-from-*.patch
buildroot-*.tar
buildroot-*.tar.*

scratch
scratch-*
scratch.*

typescript

