*.swp
*~

.all.*
.out.*
.sb.*
.ts.*

build-output

buildroot
buildroot-dl
buildroot-dl-*
buildroot-ccache
buildroot-ccache-*
buildroot-output
buildroot-output-*
buildroot.*-from-*.patch
buildroot-*.tar
buildroot-*.tar.*

scratch
scratch-*

typescript

